# Javascript builds
.DS_Store
dist
node_modules
src/local
# package managers
npm-debug.log*
yarn-error.log*
package-lock.json
.eslintcache
# IDEs and editors
.idea
.project
.classpath
.c9
*.launch
.settings
*.sublime-workspace
.history
.vscode
